@media (max-width: 640px) {
    .section {
        max-width: 500px;
        order: 2;
    }
    
    .article {
        display: flex;
        height: 9em;
        margin-bottom: 1.5em;
    }
    
    .image {
        max-width: 170px;
        width: 50%;
        object-fit: cover;
    }
    
    .title {
        height: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        margin: 0;
        margin-left: 0.6em;
        margin-bottom: 0.7em;
        font-size: 1rem;
        letter-spacing: 0.4px;
        font-weight: 600;
    }
    
    .description, 
    .source {
        display: none;
    }
}

@media (min-width: 640px) {
    .section {
        order: 2;
        flex-basis: calc(40% - 1.5em);
        margin-left: 1.5em;
    }
    
    .article {
        height: 10em;
        display: flex;
        margin-bottom: 6em;
    }
    
    .image {
        object-fit: cover;
    }
    
    .title {
        margin: 0;
        margin-top: 0.5em;
        letter-spacing: 0.4px;
        font-weight: 600;
    }
    
    .description, 
    .source {
        display: none;
    }
    
    .article:nth-of-type(1) {
        width: 100%;
        flex-direction: column;
    }
    
    .article:nth-of-type(1) .image {
        width: 100%;
        height: 100%;
    }
    
    .article:nth-of-type(1) .title {
       padding: 0 0.3em;
       font-size: 1.1rem;
       line-height: 1.1em;
    }
    
    .article:nth-of-type(2) .image {
        height: 45%;
        width: 45%;
    }
    
    .article:nth-of-type(2) .title {
        margin-left: 0.8em;
        margin-top: 0;
        font-size: 1rem;
    }
}

@media (min-width: 1023px ) {
    .section {
       order: 3;
       margin-left: 0;
       flex-basis: 25%;
    }
}
