.image {
    object-fit: cover;
    width: 100%;
}

.textContainer {
    margin-left: 0.6em;
}

.title {
    margin-bottom: 0.7em;
    font-size: 1rem;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.article:hover .title {
    text-decoration: 2px underline black;
    opacity: 0.7;
}

@media (max-width: 640px) {
    .section {
        max-width: 500px;
        order: 2;
    }
    
    .article {
        display: flex;
        height: 9em;
        margin-bottom: 1.5em;
    }
    
    .imageContainer {
        width: 50%;
    }
    
    .textContainer {
        width: 50%;
    }
    
    .title {
        height: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        margin-bottom: 0.7em;
    }
    
    .description, 
    .source {
        display: none;
    }
}

@media (min-width: 640px) {
    .section {
        order: 2;
        flex-basis: calc(40% - 1.5em);
        margin-left: 1.5em;
    }
    
    .article {
        display: flex;
        margin-bottom: 3em;
    }
    
    .imageContainer {
        width: 100%;
    }
    
    .title {
        margin-top: 0.5em;
    }
    
    .description, 
    .source {
        display: none;
    }
    
    .article:nth-of-type(1) {
        flex-direction: column;
    }

     .article:nth-of-type(1) .textContainer {
         margin-top: 0.5em;
     }
    
    .article:nth-of-type(1) .title {
       padding: 0 0.3em;
       font-size: 1.1rem;
       line-height: 1.1em;
    }
    
    .article:nth-of-type(2) .imageContainer {
        width: 100%;
        max-width: 150px;
    }
}

@media (min-width: 1023px ) {
    .section {
       order: 3;
       margin-left: 0;
       flex-basis: 25%;
    }
}
