.heading,
.description,
.source {
    display: none;
}

.source {
    font-weight: 600;
    letter-spacing: 0.8px;
    color: rgb(57, 57, 58);
}

@media (max-width: 640px) {
    .bottomSection,
    .section {
        max-width: 500px;
        order: 2;
    }
    
    .article {
        display: flex;
        height: 9em;
        margin-bottom: 1.5em;
    }
    
    .image {
        max-width: 170px;
        width: 50%;
        object-fit: cover;
    }
    
    .title {
        height: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        margin: 0;
        margin-left: 0.6em;
        margin-bottom: 0.7em;
        font-size: 1rem;
        letter-spacing: 0.4px;
        font-weight: 600;
    }
}

@media (min-width: 640px) {
    .bottomSection,
    .section {
        order: 3;
    }
    
    .bottomSection {
        margin-top: 4em;
    }
    
    .article {
        display: flex;
        padding-top: 1em;
        margin-top: 1em;
        border-top: 1px dashed black;
    }
    
    .image {
        width: 50%;
        object-fit: cover;
    }
    
    .title {
        font-size: 1.3rem;
        letter-spacing: 0.4px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 0.5em;
    }
    
    .description {
        font-size: 1rem;
        line-height: 1.6em;
        letter-spacing: 0.4px;
        color: rgb(66, 66, 66);
    }
    
    .source {
        margin: 1em 0;
        font-size: 0.9rem;
    }
    
    .title,
    .description, 
    .source {
        display: block;
        margin-left: 15px;
    }
}


@media (min-width: 1023px) {
    .section {
        order: 1;
        flex-basis: 20%;
    }
    
    .heading {
        display: block;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: rgb(217, 0, 0);
    }
    
    .section .articles {
        margin-top: 1.2em;
    }
    
    .section .title {
        margin: 0;
        font-size: 1rem;
    }
    
    .section .image,
    .section .description,
    .section .source {
        display: none;
    }
    
    .bottomSection {
        order: 4;
        width: 65%;
    }
    
    .bottomSection .article {
        display: flex;
        margin: 1em 0;
        padding: 1em 0;
        border-top: 1px dashed black;
    }
    
    .bottomSection .image {
        display: block;
        width: 50%;
        object-fit: cover;
    }
    
    .bottomSection .title {
        margin: 0;
        font-size: 1.5rem;
        letter-spacing: 0.4px;
        font-weight: 600;
    }
    
    .bottomSection .description {
        margin: 0.5em 0;
        font-size: 1rem;
        line-height: 1.6em;
        letter-spacing: 0.4px;
        color: rgb(66, 66, 66);
    }
    
    .bottomSection .source {
        margin-top: 1.5em;
        font-size: 1rem;
    }
    
    .bottomSection .title,
    .bottomSection .description, 
    .bottomSection .source {
        display: block;
        margin-left: 15px;
    }
}