@media (max-width: 640px) {
    .section {
        max-width: 500px;
        order: 2;
    }
    
    .article {
        display: flex;
        height: 9em;
        margin-bottom: 1.5em;
    }
    
    .image {
        max-width: 170px;
        width: 50%;
        object-fit: cover;
    }
    
    .title {
        height: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        margin: 0;
        margin-left: 0.6em;
        margin-bottom: 0.7em;
        font-size: 1rem;
        letter-spacing: 0.4px;
        font-weight: 600;
    }
    
    .description, 
    .source {
        display: none;
    }
}

@media (min-width: 640px) {
    .section {
        padding-top: 1em;
        order: 3;
    }
    
    .article {
        display: flex;
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 1px dashed black;
    }

    
    .image {
        width: 50%;
        object-fit: cover;
    }
    
    .title {
        margin: 0;
        font-size: 1.3rem;
        letter-spacing: 0.4px;
        font-weight: 600;
    }
    
    .description {
        margin: 0.5em 0;
        font-size: 0.9rem;
        line-height: 1.6em;
        letter-spacing: 0.4px;
        color: rgb(66, 66, 66);
    }
    
    .source {
        font-size: 0.8rem;
    }
    
    .title,
    .description, 
    .source {
        display: block;
        margin-left: 13px;
    }
}

@media (min-width: 1023px) {
    .section {
        padding-top: 1em;
        order: 1;
        flex-basis: 15%;
    }

    .image,
    .description,
    .source {
        display: none;
    }
    
    .title {
        font-size: 0.9rem;
    }
}