.list {
    border-bottom: 1px solid gainsboro;
    display: flex;
    padding: 0.7em 0;
    padding-left: 2em;
    margin: 0;
    margin-bottom: 2em;
}

.category {
    list-style: none;
    font-size: 0.9rem;
    padding: 0;
}

.list a {
    margin-right: 1.5em;
}

.isActive {
    border-bottom: 3.5px solid rgb(110, 7, 206);
    padding-bottom: 2px;
}

@media (max-width: 640px) {
    .list {
        padding: 1em 0.7em;
        overflow-x: scroll;
    }

    .list a {
        margin: 0 1.2em;
    }
}