.image {
    margin-bottom: 0.8em;
    width: 100%;
}

.textContainer {
    padding-left: 0.5em;
    cursor: pointer;
}

.title {
    font-weight: bold;
}

.article:hover .title {
    text-decoration: 6px underline black;
}

.description {
    color: rgb(73, 73, 73);
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 1.6em;
}

.source {
    color: rgb(29, 29, 29);
    font-weight: 600;
    letter-spacing: 0.7px;
}

@media (max-width: 640px ) {
    .section {
        order: 1;
    }
    
    .article {
        border-bottom: 1px dashed black;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }
    
    .title {
        font-size: 1.65rem;
    }
    
    .description {
        margin: 0.7em 0;
        line-height: 1.6em;
        font-size: 0.9rem;
    }
    
    .source {
        font-size: 0.9rem;
    }
}

@media (min-width: 640px ) {
    .section {
        order: 1;
        flex-basis: 60%;
        margin-bottom: 1.5em;
    }

    .article:hover .title {
        opacity: 0.7;
    }
    
    .title {
        font-size: 2.7em;
        line-height: 1.1em;
    }
    
    .description {
        margin-top: 1em;
        margin-bottom: 1.2em;
        font-size: 1rem;
    }
    
    .source {
        font-size: 1rem;
    }
}

@media (min-width: 1023px ) {
    .section {
        order: 2;
        flex-basis: calc(55% - 4em);
        margin: 0 2em;
    }
}
